// TODO: remove light mood from the website

/* ------------------------------------------- /* Fonts
------------------------------------------- */
@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Black.eot');
    src: url('../../fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-Black.woff2') format('woff2'),
        url('../../fonts/Montserrat-Black.woff') format('woff'),
        url('../../fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-BlackItalic.eot');
    src: url('../../fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('../../fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-BoldItalic.eot');
    src: url('../../fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('../../fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Bold.eot');
    src: url('../../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-Bold.woff2') format('woff2'),
        url('../../fonts/Montserrat-Bold.woff') format('woff'),
        url('../../fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-ExtraBold.eot');
    src: url('../../fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('../../fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-ExtraLight.eot');
    src: url('../../fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('../../fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('../../fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-ExtraBoldItalic.eot');
    src: url('../../fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('../../fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-ExtraLightItalic.eot');
    src: url('../../fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('../../fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Italic.eot');
    src: url('../../fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-Italic.woff2') format('woff2'),
        url('../../fonts/Montserrat-Italic.woff') format('woff'),
        url('../../fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Light.eot');
    src: url('../../fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-Light.woff2') format('woff2'),
        url('../../fonts/Montserrat-Light.woff') format('woff'),
        url('../../fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-LightItalic.eot');
    src: url('../../fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-LightItalic.woff') format('woff'),
        url('../../fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Medium.eot');
    src: url('../../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../../fonts/Montserrat-Medium.woff') format('woff'),
        url('../../fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Regular.eot');
    src: url('../../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../../fonts/Montserrat-Regular.woff') format('woff'),
        url('../../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-MediumItalic.eot');
    src: url('../../fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('../../fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-SemiBold.eot');
    src: url('../../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../../fonts/Montserrat-SemiBold.woff') format('woff'),
        url('../../fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-Thin.eot');
    src: url('../../fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-Thin.woff2') format('woff2'),
        url('../../fonts/Montserrat-Thin.woff') format('woff'),
        url('../../fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-SemiBoldItalic.eot');
    src: url('../../fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('../../fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../../fonts/Montserrat-ThinItalic.eot');
    src: url('../../fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('../../fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('../../fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}



@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-Black.eot');
    src: url('../../fonts/Manchette-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-Black.woff2') format('woff2'),
        url('../../fonts/Manchette-Black.woff') format('woff'),
        url('../../fonts/Manchette-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-Bold.eot');
    src: url('../../fonts/Manchette-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-Bold.woff2') format('woff2'),
        url('../../fonts/Manchette-Bold.woff') format('woff'),
        url('../../fonts/Manchette-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-ExtraBold.eot');
    src: url('../../fonts/Manchette-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-ExtraBold.woff2') format('woff2'),
        url('../../fonts/Manchette-ExtraBold.woff') format('woff'),
        url('../../fonts/Manchette-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-Heavy.eot');
    src: url('../../fonts/Manchette-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-Heavy.woff2') format('woff2'),
        url('../../fonts/Manchette-Heavy.woff') format('woff'),
        url('../../fonts/Manchette-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-Light.eot');
    src: url('../../fonts/Manchette-Light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-Light.woff2') format('woff2'),
        url('../../fonts/Manchette-Light.woff') format('woff'),
        url('../../fonts/Manchette-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-Medium.eot');
    src: url('../../fonts/Manchette-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-Medium.woff2') format('woff2'),
        url('../../fonts/Manchette-Medium.woff') format('woff'),
        url('../../fonts/Manchette-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-Regular.eot');
    src: url('../../fonts/Manchette-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-Regular.woff2') format('woff2'),
        url('../../fonts/Manchette-Regular.woff') format('woff'),
        url('../../fonts/Manchette-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-SemiBold.eot');
    src: url('../../fonts/Manchette-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-SemiBold.woff2') format('woff2'),
        url('../../fonts/Manchette-SemiBold.woff') format('woff'),
        url('../../fonts/Manchette-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-Thin.eot');
    src: url('../../fonts/Manchette-Thin.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-Thin.woff2') format('woff2'),
        url('../../fonts/Manchette-Thin.woff') format('woff'),
        url('../../fonts/Manchette-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Manchette';
    src: url('../../fonts/Manchette-UltraLight.eot');
    src: url('../../fonts/Manchette-UltraLight.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/Manchette-UltraLight.woff2') format('woff2'),
        url('../../fonts/Manchette-UltraLight.woff') format('woff'),
        url('../../fonts/Manchette-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}





/* ------------------------------------------- /* Global Styles
------------------------------------------- */
@layer payload-default
{
    *, html, body{
        font-family: 'Montserrat', 'Manchette' !important;
        font-weight: 400 !important;
    }
}

html, .template-default__wrap {
    background-color: #1E1E1E !important;
    color: #DAD2C2 !important;
    font-family: 'Montserrat', 'Manchette' !important;
}

.template-default__wrap{
    padding: 40px !important;
}

.app-header__content{
    background-color: #1E1E1E !important;
    color: #DAD2C2 !important;
    margin-top: 40px !important;

}

html [dir="rtl"] {
    font-family: 'Manchette', 'Montserrat' !important;
    font-weight: 400 !important;

    .app-header, .field-type__wrap input{
        font-family: 'Manchette', 'Montserrat' !important;
        font-weight: 400 !important;
    }
}

.fixed-lines {
    position: fixed;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .fixed-lines::before,
  .fixed-lines::after {
    content: '';
    width: 0.5px;
    height: 100%;
    background-color: #DAD2C2;

}

.dashboard {
    background-color: #1E1E1E;
    color: #DAD2C2;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

.dashboard-header {
    background-color: #1E1E1E;
    color: #DAD2C2;
}
.dashboard__label{
    font-family: 'Manchette', 'Montserrat' !important;
    font-weight: 500 !important;
    color: #DAD2C2 !important;
    // border-bottom: 1px solid rgba(218, 210, 194, 0.52) !important;
    // border-offset: 5px !important;
    text-transform: uppercase !important;
}

.list-controls__wrap{
    background-color: #1E1E1E !important;
    // color: #DAD2C2 !important;
}

// ------------------------------------------- /* Nav
.nav{
    border: 0px !important;
}

.template-default{
    background-color: #1E1E1E !important;
}

.nav__link-indicator{
    display: none !important;
    // background-color: #DAD2C2 !important
}

.template-default__nav-toggler-container{
    // background-color: red;
    margin-left: 40px !important;
    margin-top: 20px !important;

}

// button.nav-toggler {
//     background-color: red;
// }

.card{
    background-color: #1E1E1E !important;
    color: #DAD2C2 !important;
    border: 0.5px solid rgba(218, 210, 194, 0.52) !important;
}
.auth-fields.collection-edit__auth{
       background-color: #1E1E1E !important; 
       color: #DAD2C2 !important;
}

.auth-fields__controls button{
    // border: 0.5px solid rgba(218, 210, 194, 0.52) !important;
    color: #DAD2C2 !important;
}

.btn--style-secondary{
    --box-shadow: inset 0 0 0 1px rgba(218, 210, 194, 0.52);
    --hover-color: rgba(218, 210, 194, 0.52);
    --hover-box-shadow: inset 0 0 0 1px rgba(218, 210, 194, 0.52);
}

.payload-settings h3{
    display: none !important;
}

.field-type__wrap input, .css-cp01gg-control{
    background-color: #1E1E1E !important;
    color: #DAD2C2 !important;
}
html[data-theme=light] .multi-value.rs__multi-value, html[data-theme=dark] .multi-value.rs__multi-value{
    background-color: #1E1E1E !important;
    color: #DAD2C2 !important;
}

.step-nav__home svg{
    display: none !important;
}

.step-nav__home {
    // background-color: red !important;
    background: url('../../assets/images/header-nav-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.login__brand svg.graphic-logo g{
    display: none !important;
}

.login__brand svg.graphic-logo{
    // display: none !important;
    background: url('../../assets/images/header-logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hamburger{
    background: url('../../assets/images/header-nav-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: none;
    box-shadow: none;
    padding: 2px !important;
}

.template-default__nav-toggler-wrapper svg {
    // background: url('../../assets/images/header-nav-icon.svg');
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
    display: none;
}

.hamburger__open-icon, .hamburger__close-icon{
    // background-color: red;
    border: none !important;
}


.nav .nav--nav-open .nav--nav-animate .nav--nav-hydrated , .nav__scroll{
    background-color: rgba(218, 210, 194, 0.52);
    color: #DAD2C2;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

.nav__wrap{
    padding: 20px !important;
    margin-top: 20px !important;
}

.nav-group__label {
    color: #DAD2C2 !important;
    font-weight: 500 !important;
  }

.hamburger-icon {
    background-color: #DAD2C2 !important
}

/* ------------------------------------------- /* Dashboard
------------------------------------------- */

ul.dashboard__card-list{
    display: flex;
    flex-direction: column;
    background-color: none !important;
    // background-color: #1E1E1E !important;
    color: #DAD2C2 !important;
    border: 0px 0px 0px 1px solid rgba(218, 210, 194, 0.52)  !important;
}

.doc-controls__wrapper, .gutter--left, .gutter--right, .doc-controls{
    background-color: none !important;
    background: none !important;
}
.doc-header__title, .render-title, .list-header{
    font-family: 'Manchette', 'Montserrat' !important;
    font-weight: 400 !important;
}

.array-field .array-field__header, .array-field__title, .array-field__header-content, .group-field__header{
    font-family: 'Manchette', 'Montserrat' !important;
    font-weight: 400 !important;
    color: #DAD2C2 !important;
    text-transform: uppercase !important;
}

.field-label {
    font-family: 'Manchette', 'Montserrat' !important;
    font-weight: 400 !important;
    color: #DAD2C2 !important;
    text-transform: uppercase !important;
}

.array-field__header-actions button{
    // background-color: red !important;
    font-family: 'Manchette', 'Montserrat' !important;
    text-transform: uppercase;
    color: #DAD2C2 !important;
    font-size: 0.8rem;
}

.pill, .blocks-field__block-number {
    font-family: 'Montserrat' !important;
    font-weight: 500 !important;
    text-transform: uppercase;
    background: none !important;
    color: rgba(218, 210, 194, 0.52) !important;
    // font-size: 0.8rem;
}

.collapsible__toggle-wrap{
    background-color: rgba(218, 210, 194, 0.21);
}

.section-title__input{
    color: rgba(218, 210, 194, 0.52) !important;
    font-family: 'Manchette', 'Montserrat' !important;
    font-size: 0.9rem;
    // font-weight: 700 !important;
}

.collapsible__content{
    background-color: #1E1E1E !important;
}


ul.dashboard__card-list {
    border: 0px !important;
}

/* ------------------------------------------- /* Media Queries
------------------------------------------- */

// @media screen and (min-width: 1200px) {
//     .template-default__nav-toggler-wrapper{
//         display: none !important;
//     }
// }

@media screen and (max-width: 1200px) {
    .template-default__nav-toggler-wrapper{
        padding: 40px !important;
    }
}


/* --- login --- */

form>.form-submit .btn{
    background-color: #DAD2C2 !important;
    color: #1E1E1E !important;
    font-family: 'Manchette', 'Montserrat' !important;
    font-weight: 500 !important;
}

/* --- input fileds --- */

.field-type.text:not(.has-many) input{
    font-family: 'Manchette', 'Montserrat' !important;
    font-weight: 400 !important;
    background-color: #1E1E1E !important;
    color: #DAD2C2 !important;
    border: 0.5px solid #DAD2C2 !important;
}